.nav-logo{
  transition: 0.8s;
}

.nav-logo:hover{
  transform: rotate(18deg);
}

.nav-link{
  font-weight: 600;
    color: #08588c !important;
    margin: 0 16px;
    height: 70px;
    padding-top: 20px;
}

.nav-link:hover{
  color: #00c2ee !important;
  transition: ease-in-out;
  border-bottom: 2px solid #00c2ee;
  border-radius: 1px;
  padding-bottom: 10px;
}
.navbar{
  z-index: 999;
}